#container {
  background-image: linear-gradient(to right, var(--gray-color), #1a1a1a00);
  height: 30vh;
  padding: 5% 0px;
  margin: 11.5% auto;

  @media (max-width: 1027px) {
    height: 90vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: none;
  }

  .banner {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;

    @media (max-width: 1027px) {
      height: 60vh;
      gap: 3em;
      justify-content: center;
    }

    #title {
      font-size: 2em;
      margin: 3% 0px;
      text-align: right;
    }

    #description {
      font-size: 1.5em;
      text-align: right;
      margin-bottom: 5%;
    }

    button {
      border-radius: 15px;
      border: 1px solid transparent;
      font-weight: 500;
      cursor: pointer;
      background-color: transparent;
      font-weight: bold;
      font-style: italic;
      font-size: 1.4em;
      transition: color 0.3s ease-in-out;
      padding: 0;
      width: auto;
      margin: 0px auto;

      &:hover {
        color: var(--blue-color);

        @media (max-width: 1027px) {
          color: orange;
        }
      }

      &:focus,
      &:focus-visible {
        outline: 0px;
      }
    }
  }
}
