#container {
  position: relative;
}

.banner {
  background-image: linear-gradient(to right, var(--gray-color), #1a1a1a00);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  text-align: right;
  color: #1a1a1a80;
  text-decoration: none;
  height: 300px;
  margin: 30px auto;
  position: absolute;
  top: 150px;
  width: 100%;

  #title {
    position: absolute;
    top: 40px;
    right: 10%;
  }

  #description {
    position: absolute;
    bottom: 110px;
    right: 10%;
    font-size: 1.5em;
    width: 50%;
  }

  h1 {
    margin-right: 100px;
  }

  p {
    margin: 0px 100px 20px 0px;
  }

  button {
    border-radius: 8px;
    padding: 0px;
    width: 10%;
    margin: 0;
    border: 1px solid transparent;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: transparent;
    color: #1a1a1a80;
    font-weight: bold;
    font-style: italic;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--blue-color);
    }

    &:focus,
    &:focus-visible {
      outline: 0px;
    }
  }
}
