.project_box {
  display: flex;
  margin: 20px auto;
  height: 53.5vh;
  padding: 16px;
  margin: 37px auto;
  gap: 2em;
  justify-content: center;

  @media (max-width: 1027px) {
    flex-direction: column;
    height: auto;
    margin: 10px auto;
    font-size: 0.9em;
  }

  .close {
    width: auto;
    margin: 0px auto;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    font-family: "manrope", sans-serif;
    background-color: orange;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--blue-color);
      scale: 1.1;
    }

    @media (max-width: 1027px) {
      font-size: 0.8em;
      font-weight: bold;
    }
  }

  .image_box {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
    width: 50em;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    @media (max-width: 1027px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0px;
    }

    .arrows {
      border: none;
      background-color: transparent;
      color: var(--gray-color);
      font-size: 2em;
      height: 70px;
      color: orange;
      padding: 10px;

      @media (max-width: 1027px) {
        color: var(--blue-color);
      }

      &:focus {
        outline: none;
      }
    }

    #image {
      padding: 0px;
      width: 20em;
      height: 20em;
      border-radius: 15px;
      border: 2px solid var(--gray-color);
      object-fit: contain;

      @media (max-width: 1027px) {
        max-width: 70%;
        border: 2px solid white;
      }
    }
  }

  .description_box {
    padding-right: 20px;
    width: 50em;

    @media (max-width: 1027px) {
      padding: 0px;
      width: auto;
    }

    .title {
      width: 80%;
      color: var(--blue-color);

      @media (max-width: 1027px) {
        width: 100%;
        font-weight: 500;
        font-size: 1.4em;
        color: orange;
      }
    }

    .description {
      display: grid;
      grid-template-columns: auto auto;
      list-style-type: square;

      @media (max-width: 1027px) {
        list-style-type: none;
        padding: 0px;
        width: 100%;
        font-weight: 400;
        font-size: 0.95em;
      }
    }

    .link {
      @media (max-width: 1027px) {
        list-style: none;
        padding: 0px;
      }
      a {
        color: var(--blue-color);
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;

        @media (max-width: 1027px) {
          font-weight: 400;
          font-size: 0.95em;
        }

        &:hover,
        &:active {
          color: orange;
        }
      }

      span {
        @media (max-width: 1027px) {
          font-weight: 400;
          font-size: 0.95em;
        }
      }
    }
  }
}

.project_box_two {
  display: flex;
  margin: 20px auto;
  height: 53.5vh;
  padding: 16px;
  margin: 37px auto;
  justify-content: center;

  @media (max-width: 1027px) {
    flex-direction: column;
    height: auto;
    margin: 10px auto;
  }

  .link_box {
    .link_project {
      display: flex;
      padding: 0px;
      flex-wrap: wrap;
      margin: 0px auto;
      width: 70%;
      gap: 5px;
      align-items: center;
      justify-content: center;

      li {
        list-style: none;

        .button_link {
          width: 12em;
          height: 12em;
          border: 2px solid orange;
          padding: 0em;
          flex: 0 0 auto;

          .image_link {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          text-align: center;
          margin: 0.4em auto;
          text-transform: uppercase;
        }
      }
    }
  }
}
