.nav {
  background-image: linear-gradient(to right, var(--gray-color), #1a1a1a00);
  position: relative;
  height: 14vh;

  @media (max-width: 1027px) {
    background-image: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0px 50px;
    padding: 20px 0px;

    @media (max-width: 1027px) {
      justify-content: center;
    }

    li {
      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bolder;

        @media (max-width: 1027px) {
          color: white;
          font-weight: 400;
        }

        &:hover {
          color: var(--blue-color);

          @media (max-width: 1027px) {
            color: orange;
          }
        }
      }
    }
  }
}
