form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 53.5vh;
  padding: 16px;
  margin: 37px auto;

  @media (max-width: 1027px) {
    padding: 0px;
    width: 100%;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    height: 63vh;
    max-width: 70%;
    flex-direction: column-reverse;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
      color: var(--blue-color);
      padding: 10px;
      border: 1px solid var(--gray-color);
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      background-color: white;
      margin: 10px 0px;
      padding: 10px 20px;
      width: 500px;
      height: 100%;
      resize: none;
      font-family: "manrope", sans-serif;

      @media (max-width: 1027px) {
        width: 20em;
      }
    }

    input {
      height: 10px;
    }

    #message {
      height: 100px;
      overflow: scroll;
    }

    button {
      padding: 10px 20px;
      background-color: var(--gray-color);
      width: 150px;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 10px;
      font-size: large;
      font-weight: 800;

      @media (max-width: 1027px) {
        background-color: var(--blue-color);
        font-weight: 400;
        width: 50%;
      }

      &:hover {
        background-color: orange;
        font-size: larger;
        width: 170px;
        font-weight: 300;
        transition: all 0.3s ease-in-out;

        @media (max-width: 1027px) {
          background-color: var(--blue-color);
          font-weight: 400;
          width: 86%;
        }
      }
    }

    p {
      color: var(--blue-color);
    }
  }
}

.links {
  display: flex;
  flex-direction: column;

  @media (max-width: 1027px) {
    flex-direction: row;
  }
  #linkedin {
    text-decoration: none;
    color: var(--text-color);

    @media (max-width: 1027px) {
      color: white;
    }

    i {
      font-size: 2.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--blue-color);
        scale: 1.2;
      }
    }

    p {
      text-align: left;
      padding: 0.5em;
      font-weight: 500;
    }
  }

  #github {
    text-decoration: none;
    color: var(--text-color);

    @media (max-width: 1027px) {
      color: white;
    }

    i {
      font-size: 2.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.2;
        color: black;
      }
    }

    p {
      text-align: left;
      padding: 0.5em;
      font-weight: 500;
    }
  }
}
