@mixin iconbars {
  width: 100%;
  background-color: orange;
  border-radius: 10px;
  text-align: center;
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 3em;
  gap: 5%;
}

@mixin divBars($width) {
  width: ($width);
  background-color: var(--blue-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@mixin titleAboutMe {
  border-bottom: 2px solid orange;
  text-align: center;
  color: var(--blue-color);
  font-weight: 600;
  text-transform: uppercase;

  @media (max-width: 1027px) {
    color: orange;
  }
}

.scroll_container {
  width: 90%;
  margin: 0px auto;
  transition: all 0.3s ease-in-out;
  height: auto;

  @media (max-width: 1027px) {
    padding: 0px;
    margin: 0px auto;
  }

  .presentation_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4.4em;

    @media (max-width: 1027px) {
      width: 100%;
      margin-top: 2em;
    }

    p {
      @media (max-width: 1027px) {
        font-size: 0.9em;
      }
    }

    #title_presentation {
      font-weight: 600;
      font-size: 1.1em;
      color: orange;
      border-bottom: 2px solid var(--gray-color);
    }

    p {
      font-size: 1em;
      font-weight: 500;
      text-align: center;
      padding: 0.2em;
    }
  }

  .flex_one {
    @include grid;

    @media (max-width: 1027px) {
      grid-template-columns: 1fr;
      justify-content: center;
      margin: 1em auto;
      gap: 2%;
      height: auto;
    }

    .skills_container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 200px;

      @media (max-width: 1027px) {
        width: 100%;
        margin-top: 3%;
      }

      #title_tech {
        @include titleAboutMe;
      }
      ul {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        li {
          font-size: 1em;
          font-weight: 500;
          text-transform: uppercase;
          padding: 0;
          text-align: center;
          padding: 0.5em;

          svg {
            transition: all 0.3s ease-in-out;
            @media (max-width: 1027px) {
              width: 2.5em;
              height: 2.5em;
            }
          }
        }
      }
    }

    .bars_container {
      width: auto;
      margin-bottom: 3%;
      font-size: 0.9em;

      @media (max-width: 1027px) {
        margin: 0px auto 5px;
      }

      ul {
        list-style-type: square;
        padding: 0px;
        margin: 0px auto;

        li {
          margin: 10px;
          font-weight: 800;
          color: inherit;

          .js_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(50%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }

          .redux_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(50%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }

          .react_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(50%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }

          .sass_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(65%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }

          .artwork_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(65%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }

          .photoshop_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(50%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }

          .illustrator_bar {
            @include iconbars;

            @media (max-width: 1027px) {
              background-color: var(--blue-color);
            }

            div {
              @include divBars(65%);

              @media (max-width: 1027px) {
                background-color: orange;
              }
            }
          }
        }
      }
    }

    .lang_container {
      width: 200px;
      margin-bottom: 3%;

      @media (max-width: 1027px) {
        margin: 0px auto 5px;
      }

      p {
        @include titleAboutMe;
      }

      ul {
        li {
          list-style-type: square;
          padding: 0em;

          &:first-child {
            padding-bottom: 0.5em;
          }
        }
      }
    }

    .education_container {
      width: 200px;

      @media (max-width: 1027px) {
        margin: 0px auto;
      }

      p {
        @include titleAboutMe;
      }

      ul {
        margin-bottom: 5em;
        li {
          text-align: left;
          list-style-type: square;
          padding: 0px;

          &:first-child {
            padding-bottom: 1em;
          }
        }
      }
    }
  }
}
