:root {
  --blue-color: rgb(0, 115, 255);
  --gray-color: #1a1a1a80;
  --text-color: #000000aa;

  font-family: "manrope", sans-serif;

  background-color: #ffffff;
  font-weight: 500;

  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

::selection {
  background: orange;
  color: var(--blue-color);
}

::-moz-selection {
  background: orange;
  color: var(--blue-color);
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 1027px) {
  :root {
    background-color: black;
    color: white;
  }

  body {
    height: auto;
  }

}

button {
  color: white;
}