.cards_box {
  margin: 20px auto;
  padding: 70px;
  display: flex;
  flex: 1;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 23vh;
  flex: 1;
  div {
    padding: 50px;
    color: white;

    button {
      padding: 100px;
      background-color: var(--gray-color);
      font-weight: bold;
      font-size: large;
      cursor: pointer;
      border-radius: 8px;
      border: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: orange;
        font-size: larger;
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
