.footer {
  display: flex;
  padding: 15px 0px;
  justify-content: center;
  gap: 10px;
  background-image: linear-gradient(to right, var(--gray-color), #1a1a1a00);
  margin-right: 50px;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  height: 14vh;

  @media (max-width: 1027px) {
    background-image: none;
    font-weight: 400;
    font-size: 0.9em;
    gap: 5px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
  }
}
